<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:AppId" value="1fe90e6a-ce47-4f4b-9436-367dad73a66b"/>
    <add key="ida:AppSecret" value="njkTMCT9971$bzkqSCB1^*("/>
    <add key="ida:RedirectUri" value="http://localhost:3978/"/>
    <add key="ida:GraphScopes" value="User.Read Mail.Read Files.Read Notes.Read People.Read Tasks.Read Calendars.Read Calendars.Read.Shared Contacts.Read email"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\BasicBot.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" />
  </system.webServer>
</configuration>
<!--ProjectGuid: D85EBBFC-F5F1-4274-80B9-8FC3A4F304D8-->